<div>
  <h1>Boards</h1>
  <p>Board Name</p>
  <ul>
    <% @boards.each do |board| %>
      <li>
        <%= board.name %> 
        <%= link_to "show", board_path(board)%>
        <%= link_to "Edit", edit_admin_board_path(board) %>
        <%= link_to "Delete", admin_board_path(board), :data => { :confirm => "Are you sure?" }, :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate(@boards) %>
<br />
<%= link_to "New Board", new_admin_board_path %>