<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
  <% if @post.image %>
  <p>
    <%= image_tag @post.image.url(:show) %>
  </p>
  <% end %>
</p>

<% if current_user && current_user.is_admin %>
  <%= link_to "A-Edit", edit_admin_board_post_path(@board, @post) %> |
<% end %>
<%= link_to "Back", board_posts_path(@board) %>